<aside class="aside" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
    <div class="aside__container">
        
        <form action="" class="search">
            <input placeholder="Поиск по сайту" class="search__input">
            <button type="submit" class="search__button"></button>
        </form>

        <div class="addr__container">
            <div class="addr clearfix">
                <div class="addr__street"><strong>г. Москва,</strong> ул. Горбунова,<br>дом 2, стр. 204, офис A331 </div>
                
                <div class="addr__email">
                    E-mail: <a href="mailto:info@inexstroy.ru">info@inexstroy.ru</a>
                </div>
            
                <div class="addr__phone">
                    <a href="" class="addr__phone__item">+7 (495) 743-45-77</a>
                    <a href="" class="addr__phone__item">+7 (495) 724-00-36</a>
                </div>
            </div>

            <div class="addr clearfix">
                <div class="addr__street"><strong>г. Cанкт-Петербург,</strong><br>Петроградская наб., д. 22, лит. А, </div>

                <div class="addr__email">
                    E-mail: <a href="mailto:piter@inexstroy.ru">piter@inexstroy.ru</a>
                </div>
            
                <div class="addr__phone"><a href="" class="addr__phone__item">+7 (812) 389-38-55</a></div>
            </div>

            <div class="addr clearfix">
                <div class="addr__street"><strong>г. Нижний Новгород,</strong><br>ул. Алексеевская, д. 10/16, оф. 12</div>

                <div class="addr__email">
                    E-mail: <a href="mailto:novgorod@inexstroy.ru">novgorod@inexstroy.ru</a>
                </div>
            
                <div class="addr__phone"><a href="" class="addr__phone__item">+7 (831) 261-35-01</a></div>
            </div>

            <div class="addr clearfix">
                <div class="addr__street"><strong>г. Казань,</strong><br>ул. Сайдашева, д. 12, оф. 39</div>

                <div class="addr__email">
                    E-mail: <a href="mailto:kazan@inexstroy.ru">kazan@inexstroy.ru</a>
                </div>
            
                <div class="addr__phone"><a href="" class="addr__phone__item">+7 (843) 233-43-11</a></div>
            </div>

            <div class="addr clearfix">
                <div class="addr__street"><strong>г. Челябинск,</strong><br>ул. Карла Маркса, д. 46, оф. 3</div>

                <div class="addr__email">
                    E-mail: <a href="mailto:chelabinsk@inexstroy.ru">chelabinsk@inexstroy.ru</a>
                </div>

                <div class="addr__phone"><a href="" class="addr__phone__item">+7 (3512) 20-80-30</a></div>
            </div>
        </div>
        
        <div class="banner">
            <div class="banner__content">
                Наc выбирает<br>Арбитражный суд!
            </div>

            <img src="/images/banner.jpg" alt="" class="banner__image">
        </div>

        <div class="sub-title _center">Определение суда</div>

        <div class="sub-title">
            <a href="" class="sub-title__more">Все отзывы</a>
            <div class="sub-title__text">Отзывы</div>
        </div>
        
        <ul class="i-list clearfix _letter">
            <li class="i-list__item _l">
                <a href="" class="i-list__image">
                    <img src="/images/blago/1.jpg" width="86" height="130" alt="" class="i-list__image__src">
                </a>
                <div class="i-list__title">Благодарственное письмо ООО «Нива»</div>
            </li>

            <li class="i-list__item _r">
                <a href="" class="i-list__image">
                    <img src="/images/blago/2.jpg" width="86" height="130" alt="" class="i-list__image__src">
                </a>
                <div class="i-list__title">ОАО Смоленский завод «Кентавр»</div>
            </li>
        </ul>
        
        <div class="sub-title">
            <div class="sub-title__text">Наши объекты</div>
        </div>
        
        <div class="s-object__list">
            <div class="s-object">
                <div class="s-object__title">
                    <a href="" class="s-object__title__link">Объект на Дзержинского</a>
                </div>
                
                <a href="" class="s-object__image">
                    <img src="/images/objects/1.jpg" width="203" height="146" alt="" class="s-object__image__src">
                </a>
                
                <div class="s-object__description">
                    <b>Объект экспертизы:</b> Воздухоопорное сооружение «Ледового дворца»
                </div>
            </div>

            <div class="s-object">
                <div class="s-object__title">
                    <a href="" class="s-object__title__link">Объект на Дзержинского</a>
                </div>

                <a href="" class="s-object__image">
                    <img src="/images/objects/1.jpg" alt="" class="s-object__image__src">
                </a>
                
                <div class="s-object__description">
                    <b>Объект экспертизы:</b> Воздухоопорное сооружение «Ледового дворца»
                </div>
            </div>
        </div>
            
        <div class="sub-title">
            <a href="" class="sub-title__more">Все статьи</a>
            <div class="sub-title__text">Статьи</div>
        </div>

        <div class="s-article">
            <div class="s-article__title">
                <a href="" class="s-article__link">Свидетельство об аттестации лаборатории неразрушающего контроля</a>
            </div>
        </div>

    </div>
</aside>