<span class="sandwich js-sandwich-menu">
	<span class="sandwich__layer">Menu</span>
</span>

<div class="menu-overlay" id="menu-overlay"></div>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__wrapper">
		
		<div class="layout-header__consult">
	        <div class="consult _rows clearfix">
	            <div class="consult__item _ico-1">
	                <div class="consult__item__title">
	                    Бесплатная консультация<br>опытного экперта
	                </div>
	                <div class="consult__item__phone">
	                    <a href="tel:+74957434577" class="consult__item__phone__tel">+7 (495) 743-45-77</a>
	                </div>
	            </div>
	            
	            <div class="consult__item _ico-2">
	                <div class="consult__item__title">
	                    Бесплатная консультация<br>строительного юриста
	                </div>
	                <div class="consult__item__phone">
	                    <a href="tel:+74957240036" class="consult__item__phone__tel">+7 (495) 724-00-36</a>
	                </div>
	            </div>
	        </div>
        </div>

		<a href="/" class="layout-header__logo logo"></a>
		
		<a href="" class="layout-header__discount">
			<span class="layout-header__discount__center">Получить гарантированную<br>скидку 15%</span>
		</a>
	</div>
</header>

<div class="layout-address">
	<div class="layout-address__wrapper">
		<span class="address"><strong>Центральный офис:</strong> г. Москва, ул. Горбунова, дом 2, стр. 204, офис №A331, БЦ «ГрандСетуньПлаза»</span>
	</div>
</div>

<nav class="navigation" id="navigation" role="navigation">
	<div class="navigation__wrapper">
		<ul class="navigation__list">
		    
		    <li class="navigation__item itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'index'){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Виды экспертиз</span>
		    	</a>
	    	</li>

		    <li class="navigation__item itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == ''){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Разработка проектов</span>
		    	</a>
	    	</li>

		    <li class="navigation__item itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == ''){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Юр. сопровождение в суде</span>
		    	</a>
	    	</li>

		    <li class="navigation__item itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == ''){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Оборудование</span>
		    	</a>
	    	</li>

		    <li class="navigation__item itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == ''){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Преимущества</span>
		    	</a>
	    	</li>

		    <li class="navigation__item itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == ''){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Срочная разработка заключения</span>
		    	</a>
	    	</li>

		    <li class="navigation__item itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == ''){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Срочный выезд</span>
		    	</a>
	    	</li>

		    <li class="navigation__item itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == ''){ _current}">
		    		<span class="navigation__link__name" itemprop="name">О нас</span>
		    	</a>
	    	</li>

		    <li class="navigation__item itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == ''){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Контакты</span>
		    	</a>
	    	</li>

		</ul>
	</div>
</nav>