<aside class="sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
    <div class="sidebar__trigger j-sidebar-trigger">
        <div class="sidebar__trigger__hamburger"></div>
    </div>

    <div class="sidebar__container j-sidebar-content">
        
        <div class="sidebar__title">Виды экспертиз</div>
        
        <ul class="menu">
            <li class="menu__item"><a href="" class="menu__link">Независимая строительная экспертиза</a></li>
            <li class="menu__item"><a href="" class="menu__link">Судебная строительная экспертиза</a></li>
            <li class="menu__item"><a href="" class="menu__link">Обследование зданий и сооружений</a></li>
            <li class="menu__item"><a href="" class="menu__link">Получение разрешения на строительство/реконструкцию</a></li>
            <li class="menu__item"><a href="" class="menu__link">Экспертиза инженерных систем</a></li>
            <li class="menu__item"><a href="" class="menu__link">Строительный аудит</a></li>
            <li class="menu__item"><a href="" class="menu__link">Проектирование</a></li>
            <li class="menu__item"><a href="" class="menu__link">Экспертиза аварийного жилья</a></li>
            <li class="menu__item"><a href="" class="menu__link">Землеустроительная экспертиза, выдел доли в натуре</a></li>
            <li class="menu__item"><a href="" class="menu__link">Услуги технического Заказчика</a></li>
            <li class="menu__item"><a href="" class="menu__link">Строительный контроль</a></li>
            <li class="menu__item"><a href="" class="menu__link">Тепловизионный контроль</a></li>
            <li class="menu__item"><a href="" class="menu__link">Экспертиза проектно-сметной документации</a></li>
            <li class="menu__item"><a href="" class="menu__link">Оценка недвижимости</a></li>
            <li class="menu__item"><a href="" class="menu__link">Оценка ущерба от залива, пожара, арендаторов</a></li>
            <li class="menu__item"><a href="" class="menu__link">Лабораторные испытания</a></li>
            <li class="menu__item"><a href="" class="menu__link">Геодезические работы</a></li>
            <li class="menu__item"><a href="" class="menu__link">Услуги строительного юриста</a></li>
            <li class="menu__item"><a href="" class="menu__link">Рецензия на экспертное заключение (отчет)</a></li>
        </ul>
        
        <div class="sub-title">
            <a href="" class="sub-title__more">Все новости</a>
            <div class="sub-title__text">Новости</div>
        </div>

        <div class="s-news">
            <div class="s-news__date">12.03.2016</div>
            <div class="s-news__title">
                <a href="" class="s-news__link">Наш офис находится на третьем этаже бизнес - центра «ГрандСетуньПлаза». От станции метро «Молодежная» добраться до нас можно проехав две остановки</a>
            </div>
        </div>
        
        <div class="s-news">
            <div class="s-news__date">12.03.2016</div>
            <div class="s-news__title">
                <a href="" class="s-news__link">Наш офис находится на третьем этаже бизнес - центра «ГрандСетуньПлаза». От станции метро «Молодежная» добраться до нас можно проехав две остановки</a>
            </div>
        </div>

        <div class="sub-title _center">Документы</div>
        
        <ul class="i-list clearfix _documents">
            <li class="i-list__item _l">
                <a href="" class="i-list__image">
                    <img src="/images/blago/1.jpg" width="86" height="130" alt="" class="i-list__image__src">
                </a>
                <div class="i-list__title">Допуск СРО стр. 1</div>
            </li>

            <li class="i-list__item _r">
                <a href="" class="i-list__image">
                    <img src="/images/blago/2.jpg" width="86" height="130" alt="" class="i-list__image__src">
                </a>
                <div class="i-list__title">Допуск СРО стр. 2</div>
            </li>

            <li class="i-list__item _l">
                <a href="" class="i-list__image">
                    <img src="/images/blago/1.jpg" width="86" height="130" alt="" class="i-list__image__src">
                </a>
                <div class="i-list__title">Допуск СРО стр. 3</div>
            </li>

            <li class="i-list__item _r">
                <a href="" class="i-list__image">
                    <img src="/images/blago/2.jpg" width="86" height="130" alt="" class="i-list__image__src">
                </a>
                <div class="i-list__title">Допуск СРО стр. 4</div>
            </li>
        </ul>

    </div>
</aside>