<div class="slider">
    <form action="" class="slider__form">
        <div class="slider__form__wrapper">
            <div class="slider__form__inner">
                <div class="slider__form__header">Бесплатная консультация<br>опытного экперта</div>
                
                <div class="slider__form__row">
                    <input name="" placeholder="ФИО" class="slider__form__input">
                </div>

                <div class="slider__form__row">
                    <input name="" placeholder="Телефон" class="slider__form__input">
                </div>

                <div class="slider__form__row">
                    <input name="" placeholder="E-mail" class="slider__form__input">
                </div>

                <div class="slider__form__row">
                    <textarea name="" placeholder="Цель экспертизы" class="slider__form__textarea" cols="30" rows="10"></textarea>
                </div>

                <div class="slider__form__button">
                    <button type="submit" class="button _simple _red">ОТПРАВИТЬ</button>
                </div>
            </div>
        </div>
    </form>

    <div class="slider__wrapper clearfix">
        <div class="slider__item">
            <div class="slider__item__image" style="background-image: url(/images/slide/1.jpg);"></div>
            <div class="slider__item__content">                
                <div class="slider__item__text">Высокое качество по <br>цене ниже среднего рынка!</div>
            </div>
        </div>
    </div>
</div>