.content {
    width: 100%;
    float: left;
    padding: 0 $aside-width 0 $sidebar-width;

    &__inner {
        clear: both;
        padding: 0 $aside-margin 0 $sidebar-margin;
    }

    p {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    ul {
        &:not([class]) {
            margin-bottom: 25px;

            li {
                color: #000;
            }
        }
    }

    img {
        & :not([class]) {
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}