@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "index"
    })

    @@include('./components/_slider.html')

    <div class="layout-wrapper__pusher">
        
        <div class="action">
            <div class="action__wrapper">Акция! При заказе экспертизы, замеры радиационного и электромагнитного фонов в подарок!</div>
        </div>

        <div class="layout-wrapper__container clearfix">

            @@include('./components/_sidebar.html')
            
            <div class="content clearfix">
                <div class="content__inner">
                    
                    <h1>О компании</h1>

                    <p>Благодарим за обращение в нашу компанию и оказанную возможность предоставить Вам услуги по проведению строительной экспертизы!</p>
                    <p>ООО «Центр судебных и негосударственных экспертиз «ИнвестЭкспертСтрой» - независимая экспертная организация, предоставляющая полный комплекс услуг сфере строительного обследования, оценки, аудита, технического надзора и проектирования. Компания лицензирована во многих областях строительства и имеет соответствующие допуски СРО. Специалисты организации имеют высшее строительное образование, удостоверения экспертов и квалификационные аттестаты, в том числе в сфере судебной строительно – технической экспертизы. ООО «Центр судебных и негосударственных экспертиз «ИнвестЭкспертСтрой» – это надежный и долгосрочный партнер!</p>
                    <p>Специалисты нашего экспертного центра уделяют огромное внимание деталям и предлагают индивидуальный подход к каждому объекту.</p>
                    <p>Высокоточное оборудование, применяемое при техническом обследовании объектов строительства, и многолетний опыт экспертов обеспечивают высокое качество выполнения предлагаемых услуг в согласованные с Заказчиком сроки. Испытания, исследование объекта и разработка экспертного заключения выполняются в соответствие с существующими требованиями Арбитражного суда, СНиП, ГОСТ и ФЗ Российской Федерации. Выявленные дефекты и выводы в экспертном заключении мы подкрепляем ссылками на действующую нормативную документацию, конструктивными расчетами, фотоматериалами.</p>
                    <p>В экспертном центре, с целью повышения квалификации специалистов компании, проводит еженедельные занятия профессор МГСУ - ведущего строительного ВУЗа страны. В компании работают дипломированные специалисты различных строительных профессий, таких как: строительный эксперт, сметчик, оценщик, инженер-конструктор, специалист по ультразвуковой дефектоскопии, геодезист, геолог, энергоаудитор и т.д.</p>
                    <p>Мы стремимся к долгосрочной работе с нашими клиентами, учитываем их потребности и возможности. Оптимизируя затраты на техническую экспертизу, мы имеем возможность сохранив высокое качество оказываемых услуг, предложить Вам конкурентноспособные цены ниже среднего рынка!</p>
                    <p>Наш офис находится на третьем этаже бизнес - центра «ГрандСетуньПлаза». От станции метро «Молодежная» добраться до нас можно проехав две остановки на общественном транспорте: маршрутным такси №597 или на автобусе №794К, остановка «Платформа Сетунь». Для наших клиентов на территории бизнес-центра есть свободные места на бесплатной парковке, также Вы можете посетить уютную столовую, кафе и пиццерию.</p>
                    
                    <div class="columns clearfix">
                        <div class="columns__item _l">
                            <a href="" class="button _wide _medium _blue"><span class="button__text">Рассчитать стоимость<br>юридических услуг</span></a>
                        </div>
                        
                        <div class="columns__item _r">
                            <a href="" class="button _wide _medium _blue"><span class="button__text">Рассчитать стоимость<br>экспертизы</span></a>
                        </div>

                        <div class="columns__item _b _c">
                            <a href="" class="button _large _red"><span class="button__text">Получить гарантированную<br>скидку 15%</span></a>        
                        </div>
                    </div>
                    
                    <ul class="images clearfix">
                        <li class="images__item">
                            <a href="" class="images__item__image">
                                <img src="/images/1.jpg" width="203" height="116" alt="" class="images__item__image__src">
                            </a>
                        </li>

                        <li class="images__item _r">
                            <a href="" class="images__item__image">
                                <img src="/images/2.jpg" width="203" height="116" alt="" class="images__item__image__src">
                            </a>
                        </li>

                        <li class="images__item">
                            <a href="" class="images__item__image">
                                <img src="/images/3.jpg" width="203" height="116" alt="" class="images__item__image__src">
                            </a>
                        </li>

                        <li class="images__item _r">
                            <a href="" class="images__item__image">
                                <img src="/images/4.jpg" width="203" height="116" alt="" class="images__item__image__src">
                            </a>
                        </li>
                    </ul>

                    <p>Каждому клиенту мы предлагаем профессиональную бесплатную консультацию строительного эксперта и юриста. Мы всегда рады видеть Вас в нашем офисе и готовы оказать необходимую поддержку!</p>

                    <div class="columns clearfix">
                        <div class="columns__item _l">
                            <a href="" class="button _wide _medium _blue"><span class="button__text">Рассчитать стоимость<br>юридических услуг</span></a>
                        </div>
                        
                        <div class="columns__item _r">
                            <a href="" class="button _wide _medium _blue"><span class="button__text">Рассчитать стоимость<br>экспертизы</span></a>
                        </div>

                        <div class="columns__item _b _c">
                            <a href="" class="button _large _red"><span class="button__text">Получить гарантированную<br>скидку 15%</span></a>        
                        </div>
                    </div>
                    
                    <div class="consult _inline clearfix">
                        <div class="consult__item _ico-1">
                            <div class="consult__item__title">
                                Бесплатная консультация<br>опытного экперта
                            </div>
                            <div class="consult__item__phone">
                                <a href="tel:+74957434577" class="consult__item__phone__tel">+7 (495) 743-45-77</a>
                            </div>
                        </div>

                        <div class="consult__item _ico-2">
                            <div class="consult__item__title">
                                Бесплатная консультация<br>строительного юриста
                            </div>
                            <div class="consult__item__phone">
                                <a href="tel:+74957240036" class="consult__item__phone__tel">+7 (495) 724-00-36</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            @@include('./components/_aside.html')
            
        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')