// Animation
$a-time:                        .3s;
$a-micro-time:                  .15s;
$a-long-time:                   .7s;

// Fonts
$font-base:                     10px;
$ArialNarrow:                   ArialNarrow, Arial, sans-serif;
$HelveticaNeueCyr:              HelveticaNeueCyr, Arial, sans-serif;
$font-family:                   PTSans, Arial, Helvetica, sans-serif;
$font-arial:                    Arial, Helvetica, sans-serif;
$font-forms:                    Arial, Helvetica, sans-serif;

// Colors
$c-select-color:                #fff;
$c-select-background:           #0058bc;

$c-text-color:                  #121212;
$c-body-background:             #fff !default;

$c-placeholder-color:           #474444 !default;
$c-placeholder-opacity:         1 !default;

$c-sandwich-overlay:            #000;
$c-sandwich-background:         #2b65b6;
$c-sandwich-background-active:  #fff;

$c-border-color:                #eee;
$c-light-blue:                  #007ce5;
$c-white:                       #fff;
$c-blue:                        #0058bc;
$c-slider-blue:                 #0067ff;
$c-light-blue-color:            #d2e5ff;

// SIZE
$layout-width:                  1260px;
$layout-margin:                 10px;

$header-height:                 173px;

$footer-margin:                 20px;
$footer-height:                 79px;

$aside-width:                   220px;
$aside-margin:                  30px;

$sidebar-width:                 230px;
$sidebar-margin:                30px;
